In [10]:
d={}

In [11]:
type(d)

dict

In [12]:
d1={"name":"sudh","email_id":"ss@gmail.com","number":3325}

In [13]:
d1

{'name': 'sudh', 'email_id': 'ss@gmail.com', 'number': 3325}

In [14]:
d4={234.45:"abc"}

In [15]:
d4

{234.45: 'abc'}

In [16]:
d5={True:"abc"}

In [17]:
d5

{True: 'abc'}

In [18]:
d6={#:"abc"}

SyntaxError: incomplete input (2741267627.py, line 1)

In [ ]:
d8={[1,2,3]:"abc"}

TypeError: unhashable type: 'list'

In [ ]:
d9={(1,2,3):"abc"}

In [ ]:
d9

{(1, 2, 3): 'abc'}

In [ ]:
d10={{1,2,3}:"abc"}

TypeError: unhashable type: 'set'

In [ ]:
d11={{"key":34}:"abc"}

TypeError: unhashable type: 'dict'

In [ ]:
d12={"course_name":["data science master","web dev", "java with dsa and system Design"]}

In [ ]:
d12

{'course_name': ['data science master',
  'web dev',
  'java with dsa and system Design']}

In [ ]:
d13={"key":(1,2,3,5,4)}

In [ ]:
d14={"key":{1,2,3,4,5}}

In [ ]:
d15={"key":{"name":"sudhanshu","class":"DMS"}}

In [ ]:
d15

{'key': {'name': 'sudhanshu', 'class': 'DMS'}}

In [ ]:
d16={"batch_name" : ["data science master","web dev","JDS"],"start_date":(28,14,21),"mentor_name":{"krish naik","sudhanshu","hitesh","anurag","navin","hayder"}}

In [ ]:
d16

{'batch_name': ['data science master', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'}}

In [ ]:
d16["timing"]=(8,8,8)

In [ ]:
d16

{'batch_name': ['data science master', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8)}

In [ ]:
d16["batch_name"]

['data science master', 'web dev', 'JDS']

In [ ]:
type(d16["mentor_name"])

set

In [ ]:
d16["key"]

KeyError: 'key'

In [ ]:
d16["name"]="sudhanshu"

In [ ]:
d16

{'batch_name': ['data science master', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'sudhanshu'}

In [ ]:
d16["name"].upper()

'SUDHANSHU'

In [ ]:
d15

{'key': {'name': 'sudhanshu', 'class': 'DMS'}}

In [ ]:
d15["key"]

{'name': 'sudhanshu', 'class': 'DMS'}

In [ ]:
type(d15["key"])

dict

In [ ]:
d15["key"]["class"]

'DMS'

In [ ]:
d15

{'key': {'name': 'sudhanshu', 'class': 'DMS'}}

In [ ]:
del d15["key"]

In [ ]:
d15.clear()

In [ ]:
d15

{}

In [ ]:
len(d16)

5

In [ ]:
d16.keys()

dict_keys(['batch_name', 'start_date', 'mentor_name', 'timing', 'name'])

In [ ]:
d16

{'batch_name': ['data science master', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'sudhanshu'}

In [ ]:
list(d16.values())

[['data science master', 'web dev', 'JDS'],
 (28, 14, 21),
 {'anurag', 'hayder', 'hitesh', 'krish naik', 'navin', 'sudhanshu'},
 (8, 8, 8),
 'sudhanshu']

In [ ]:
list(d16.items())

[('batch_name', ['data science master', 'web dev', 'JDS']),
 ('start_date', (28, 14, 21)),
 ('mentor_name',
  {'anurag', 'hayder', 'hitesh', 'krish naik', 'navin', 'sudhanshu'}),
 ('timing', (8, 8, 8)),
 ('name', 'sudhanshu')]

In [ ]:
dict(d16.items())

{'batch_name': ['data science master', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'sudhanshu'}

In [ ]:
set(d16.items())

TypeError: unhashable type: 'list'

In [ ]:
list(d16.items())

[('batch_name', ['data science master', 'web dev', 'JDS']),
 ('start_date', (28, 14, 21)),
 ('mentor_name',
  {'anurag', 'hayder', 'hitesh', 'krish naik', 'navin', 'sudhanshu'}),
 ('timing', (8, 8, 8)),
 ('name', 'sudhanshu')]

In [20]:
d16={'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'},
 'timing': (8, 8, 8)}

In [21]:
d18=d16

In [25]:
d16.pop("timing")

(8, 8, 8)

In [26]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'mentor_name': {'anurag',
  'hayder',
  'hitesh',
  'krish naik',
  'navin',
  'sudhanshu'}}

In [27]:
d16.pop("mentor_name")

{'anurag', 'hayder', 'hitesh', 'krish naik', 'navin', 'sudhanshu'}

In [28]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21)}

In [31]:
d.fromkeys((1,2,3),("a","b","c"))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [32]:
d19={"key1":"value","key2":"value2"}
d20={"key3":"value3","key4":"value4"}

In [33]:
(d19,d20)

({'key1': 'value', 'key2': 'value2'}, {'key3': 'value3', 'key4': 'value4'})

In [34]:
d19.update(d20)

In [35]:
d19

{'key1': 'value', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [36]:
d20

{'key3': 'value3', 'key4': 'value4'}

In [37]:
d20.update(d19)

In [38]:
d20

{'key3': 'value3', 'key4': 'value4', 'key1': 'value', 'key2': 'value2'}

In [39]:
d20.get("sudh")

In [40]:
d20

{'key3': 'value3', 'key4': 'value4', 'key1': 'value', 'key2': 'value2'}

In [42]:
d20.get("key3")

'value3'

In [43]:
d20["key3"]

'value3'

In [44]:
d20["sudh"]

KeyError: 'sudh'

### Dictionary Comprehension

In [45]:
{i: i**2 for i in range (1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [46]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
{i:i+10 for i in range(1,11)}

{1: 11, 2: 12, 3: 13, 4: 14, 5: 15, 6: 16, 7: 17, 8: 18, 9: 19, 10: 20}

In [48]:
import math 
d21={i:math.log10(i) for i in range(1,11)}

In [49]:
d21

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0}

In [50]:
"batch_name" in d16

True

In [51]:
d21.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [52]:
for i in d21.keys():
    if i%2==0:
        print(d21[i])

0.3010299956639812
0.6020599913279624
0.7781512503836436
0.9030899869919435
1.0

In [53]:
for i in d21.keys():
    if i%2==0:
        print(d21[i])

0.3010299956639812
0.6020599913279624
0.7781512503836436
0.9030899869919435
1.0