In [29]:
t=()

In [30]:
type(t)

tuple

In [31]:
t1=(1,2,3,4,5,6,7,8,35+1j,"sudh",True)

In [32]:
l=[1,2,3,4]

In [33]:
type(l)

list

In [34]:
t1[0]

1

In [35]:
t1[7]

8

In [36]:
t1[::-1]

(True, 'sudh', (35+1j), 8, 7, 6, 5, 4, 3, 2, 1)

In [37]:
t1=t1[::-1]

In [38]:
t1

(True, 'sudh', (35+1j), 8, 7, 6, 5, 4, 3, 2, 1)

In [39]:
t1[0:3]

(True, 'sudh', (35+1j))

In [40]:
t1.count(3)

1

In [41]:
t1.count(6)

1

In [42]:
t1.count("abc")

0

In [43]:
t1.index(1)

0

In [44]:
t1.index(5)

6

In [45]:
t1

(True, 'sudh', (35+1j), 8, 7, 6, 5, 4, 3, 2, 1)

In [46]:
t1.count(True) # here output is 2 cause 1 is also a boolean value

2

In [47]:
l

[1, 2, 3, 4]

In [48]:
t1[0]

True

### Tuple are Immutiable

In [66]:
 t1[0]=34

TypeError: 'tuple' object does not support item assignment

In [50]:
l[0]

1

In [51]:
l

[1, 2, 3, 4]

In [52]:
l[0]=100
l            # list are mutable

[100, 2, 3, 4]

In [53]:
for i in t1:
    print(i,type(i))

True <class 'bool'>
sudh <class 'str'>
(35+1j) <class 'complex'>
8 <class 'int'>
7 <class 'int'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>
3 <class 'int'>
2 <class 'int'>
1 <class 'int'>

In [54]:
t2=(1,2,3,4,5)

In [55]:
t2*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [56]:
max(t2)

5

In [57]:
min(t2)

1

In [58]:
t1=(1,2,3,4,5)
t2=(5,6,7,8,2)

In [59]:
t3=(t1,t2)

In [60]:
t3

((1, 2, 3, 4, 5), (5, 6, 7, 8, 2))

In [61]:
t4=((1,2,3,4,5),[1,2,3,4,5,6])

In [62]:
t4

((1, 2, 3, 4, 5), [1, 2, 3, 4, 5, 6])

In [63]:
del t4

In [64]:
del # del is delete

In [65]:
t1

(1, 2, 3, 4, 5)

In [68]:
len(t1)

5

In [69]:
"sudh" in t1

False

In [70]:
2 in t1

True