In [9]:
print('this is my prog')

this is my prog

In [10]:
l=[1,2,3,4,5]

In [11]:
len(l)

5

In [12]:
def test():
    pass

In [13]:
def test1():
    print("this is my very very first function")

In [14]:
test1()

this is my very very first function

In [15]:
test1() + "sudh"

this is my very very first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [ ]:
def test2():
    return "this is my fun with return "

In [ ]:
test2() + "sudh"

'this is my fun with return sudh'

In [ ]:
def test3():
    return 1,4 ,"pwskills",34.54

In [ ]:
test3()

(1, 4, 'pwskills', 34.54)

In [ ]:
a=1,2,3,4,5

In [ ]:
a=1,2,3,4,5

In [ ]:
a

(1, 2, 3, 4, 5)

In [ ]:
a,b,c,d=1,2,3,4

In [ ]:
a,b,c,d

(1, 2, 3, 4)

In [ ]:
test3()

(1, 4, 'pwskills', 34.54)

In [ ]:
test3()[0]

1

In [ ]:
test3()[1]

4

In [ ]:
a,b,c,d=test3()

In [ ]:
a

1

In [ ]:
b

4

In [ ]:
c

'pwskills'

In [ ]:
d

34.54

In [ ]:
def test4():
    a = 3*4 + 5
    return a

In [ ]:
type(test4())

int

In [17]:
def test5(a,b):
    c=a+b
    return c

In [ ]:
test5(1,2)

3

In [ ]:
test5("sudh","kumar")

'sudhkumar'

In [ ]:
type(test5(2,3)) # depend on type of input

int

In [ ]:

test5([1,2,3,5],[4,5,6,6])

[1, 2, 3, 5, 4, 5, 6, 6]

In [18]:
test5(b="sudh",a="kumar")

'kumarsudh'

In [19]:
l=[1,2,3,4,5,"sudh","pwsills",[1,2,3,34,45]]

### crate a function which will take list as a input and give me a final list with all the numeric value

In [34]:
def test6(a):
    n=[]
    for i in a :
        if type (i)== int or type(i)== float:
            n.append(i)
    return n

In [35]:
test6(l)

[1, 2, 3, 4, 5]

In [25]:
l

[1, 2, 3, 4, 5, 'sudh', 'pwsills', [1, 2, 3, 34, 45]]

In [37]:
def test7(a):
    n=[]
    for i in a:
        if type(i)==list:
            for j in i :
                if type(j)==int or type(j)==float:
                    n.append(j)
        else:
            if type(i)==int or type(i)==float:
                n.append(i)
    return n

In [38]:
test7(l)

[1, 2, 3, 4, 5, 1, 2, 3, 34, 45]