In [1]:
print('this is my prog')

this is my prog

In [2]:
l=[1,2,3,4,5]

In [3]:
len(l)

5

In [4]:
def test():
    pass

In [5]:
def test1():
    print("this is my very very first function")

In [7]:
test1()

this is my very very first function

In [9]:
test1() + "sudh"

this is my very very first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [11]:
def test2():
    return "this is my fun with return "

In [12]:
test2() + "sudh"

'this is my fun with return sudh'

In [13]:
def test3():
    return 1,4 ,"pwskills",34.54

In [15]:
test3()

(1, 4, 'pwskills', 34.54)

In [16]:
a=1,2,3,4,5

In [17]:
a=1,2,3,4,5

In [18]:
a

(1, 2, 3, 4, 5)

In [19]:
a,b,c,d=1,2,3,4

In [20]:
a,b,c,d

(1, 2, 3, 4)

In [21]:
test3()

(1, 4, 'pwskills', 34.54)

In [22]:
test3()[0]

1

In [23]:
test3()[1]

4

In [24]:
a,b,c,d=test3()

In [28]:
a

1

In [29]:
b

4

In [30]:
c

'pwskills'

In [31]:
d

34.54

In [32]:
def test4():
    a = 3*4 + 5
    return a

In [33]:
type(test4())

int

In [34]:
def test5(a,b):
    c=a+b
    return c

In [35]:
test5(1,2)

3

In [36]:
test5("sudh","kumar")

'sudhkumar'

In [40]:
type(test5(2,3)) # depend on type of input

int

In [42]:

test5([1,2,3,5],[4,5,6,6])

[1, 2, 3, 5, 4, 5, 6, 6]