In [1]:
age=17
print("my age is:",age)

my age is: 17

f string

In [2]:
print(f"my age is: {age}")

my age is: 17

## format()

In [2]:
name="damodar" 
age=17
print("my name is {} and age is {} " .format(name,age))

my name is damodar and age is 17

In [7]:
print("my age is {} and age is {}".format(age,name))
print(f"my age is {age}")

my age is 17 and age is damodar
my age is             17

# placeholder

In [9]:
print("my name is {firstname} and age is {firstage}" .format(17,damodar))

NameError: name 'damodar' is not defined

In [1]:
name="damodar yadav "
age=17
degree ="BE"
print(f"my age is {age} and i have completed : my degree {degree} with the name of \n "
      f" my degree is {name}")

my age is 17 and i have completed : my degree BE with the name of
  my degree is damodar yadav

# control flow

### Decision Making statement

##### it is kind of making decision during occurred situation of program execution and action can be taken according to specified conditions . 
sturctur of decision mking evaluate several expression that provide true or false as a result. 
it is up to you to decide which type of action want to take and execute the statements base upon true and false. 
##### These are several topics of decision makin which going to be discussed below: 
1. if 
2. if else
3. if elif esle 
4. Nested if 
5. single statement suites

## if statement

In [3]:
age=18 
if age>=18:
    print("you are eligible to vote")
age=17
if age<=18:
    print("you are not eligible to vote")

you are eligible to vote
you are not eligible to vote

In [4]:
18<=18

True

In [7]:
name=input("Enter the name")
print(name)

damodar

In [8]:
age=int(input("enter your age"))

In [9]:
type(age)

int

### Task 
1. take a input of age 
2. check whether age >=18 and age<=45 
3. display a message you ar young blood

In [13]:
age=int(input("Enter the age"))
if age>=18 and age<=45:
    print("you are young blood")
else:
    print("you are not young blood")

you are young blood

#### mall-input the product price 
1. product >1000 rs 20% off
2. print the produc price after removing the discount 
3. product <=1000 rs 30% off
4. print the product price after removing the discout

In [16]:
product_price=int(input("enter the"))
if product_price>1000:
    print("the price of the product is {}".format(product_price*0.8))
else:
    print("The price of the product is {}".format(product_price*0.7))

The price of the product is 700.0

In [19]:
product_price=int(input("Enter the amount"))
if product_price>1000:
    print("the price of the product is {}".format(product_price*.8))
else:print(" the price of the product is {}".format(product_price*.7))

the price of the product is8000.0

In [20]:
int((20/100)*5000)

1000

In [41]:
product_price=int(input("enter the price"))
if product_price>3000:
    if product_price==3999:
        print("Congratualation you get a goa trip")
    print("the discounted price is {}".format(product_price*0.8))
elif product_price<=3000 and product_price>=2000:
    if product_price==2999:
        print("you won a additional prince")
    print(" the discouted price is {}".format(product_price*0.7))
elif product_price<2000 and product_price>200:
    print(f" the discouted price {product_price*0.6}")
elif product_price<=200:
    print("You have great potential and working harder & not ready to be spoiled")

Congratualation you get a goa trip
the discounted price is 3199.2000000000003

## comparision operator 
 #### single statemnt suites

In [3]:
val=int(input("enter the suitable"))
if(val<=999):
    print("value is less than equal to 999")
else:
    print("Go Home")

Go Home

## LOOP STATEMENT 
1. WHILE LOOP
2. FOR LOOP
3. NESTED LOOPS 
4. LOOP CONTROL(BREAK, CONTINUE,PASS)

###### WHILE LOOP WHILE-ELSE

In [4]:
joining_age=25
while joining_age<=60:
    print(joining_age)
    joining_age=joining_age+1

else:
    print("It's time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
It's time for retirement

##### atm machine with 1000rs

In [6]:
total_amount=1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("put more money bank people")
    print("hello All ")

1000
900
800
700
600
500
400
300
200
100
put more money bank people
hello All

##### FOR LOOP

In [1]:
lst=["eren",1,2,3,4,5,"apple","banana"]

In [2]:
type(lst)

list

In [3]:
lst[0]

'eren'

In [4]:
lst

['eren', 1, 2, 3, 4, 5, 'apple', 'banana']