In [1]:
name="data science masters"

In [2]:
name.swapcase()

'DATA SCIENCE MASTERS'

In [3]:
name.title()

'Data Science Masters'

In [4]:
name.capitalize()

'Data science masters'

### Reversing a string

In [5]:
name[::-1]

'sretsam ecneics atad'

In [6]:
' '.join(reversed(name))

's r e t s a m   e c n e i c s   a t a d'

In [7]:
" ".join(name)

'd a t a   s c i e n c e   m a s t e r s'

### typecasting

In [8]:
list(reversed(name))

['s',
 'r',
 'e',
 't',
 's',
 'a',
 'm',
 ' ',
 'e',
 'c',
 'n',
 'e',
 'i',
 'c',
 's',
 ' ',
 'a',
 't',
 'a',
 'd']

In [9]:
str1="pw is a good company"

In [10]:
reversed(str1)

In [11]:
for i in list(reversed(name)):
    print(i,end=" ")

s r e t s a m   e c n e i c s   a t a d

#### removing character from the end of the string

In [12]:
string_a=" pw skills "
string_a

' pw skills '

In [13]:
string_a.strip(" ")

'pw skills'

In [14]:
string_a.lstrip(" ")

'pw skills '

In [15]:
string_a.rstrip(" ")

' pw skills'

In [16]:
string_a.rstrip("s")

' pw skills '

In [17]:
string_n="greeting to pwskils"
string_n.replace("greeting","welcome")

'welcome to pwskils'

In [18]:
name="krish"

In [19]:
name="pwskills"

In [20]:
# name[0]="k"

In [21]:
string_n="greeting to pwskills"
var_a=string_n.replace("g","t")

In [22]:
print(string_n)
print(var_a)

greeting to pwskills
treetint to pwskills

In [23]:
print(id(string_n))
print(id(var_a))

2770113644464
2770113508208

In [24]:
"hello world"

'hello world'

In [25]:
string_n="test@gmail.com"
var_a=string_n.replace("@"," ")
var_a

'test gmail.com'

In [26]:
"hello \tworld".expandtabs()

'hello   world'

In [27]:
str1="welcome to pwskills.welcome to dat cience masters"

In [28]:
str1.replace("dat","data").replace("cience","science")

'welcome to pwskills.welcome to data science masters'

In [29]:
str1

'welcome to pwskills.welcome to dat cience masters'

In [30]:
str1.isupper()

False

In [31]:
str1.islower()

True

In [32]:
str1="soul"

In [33]:
" ".isspace()

True

In [34]:
if " ".isspace():
    print("hello")

hello

In [35]:
str2="pwskills"

In [36]:
str2.startswith("p")

True

In [37]:
## check if all the char in string are alphanumeric
a="abcd1234"

In [38]:
a.isalnum()

True

##### to count the number of character in the

In [39]:
count=0
for i in str2:
    count=count+1
print(count)

8

In [40]:
len(str2)

8

In [41]:
str2

'pwskills'

In [42]:
for i in str2:
    print(i)

p
w
s
k
i
l
l
s

In [43]:
range(len(str2))

range(0, 8)

In [44]:
for i in range ( len( str2)): 
    print(i,"=",str2[i])

0 = p
1 = w
2 = s
3 = k
4 = i
5 = l
6 = l
7 = s

In [45]:
# we can use index to iterate string reverse direction

In [46]:
len(str2)-1

7

In [47]:
for i in range(len(str2)-1,-1,-1): # here len(str2)-1,-1 is range for iteration 
    print(str2[i])

s
l
l
i
k
s
w
p

In [48]:
string="pwskills"
ch=len(string)-1
ch

7

In [49]:
string[7],string[6],string[5]

('s', 'l', 'l')

In [50]:
while ch>=0:
    print(string[ch])
    ch=ch-1

s
l
l
i
k
s
w
p

In [51]:
# best solution 
for i in range(len(string)):
    print(string[len(string)-(i+1)],end="")

sllikswp

In [52]:
name="pwskills"
vowel="AaEeIiOoUu"

In [53]:
for ch in name:
    if ch in vowel:
        print("{} is a vowel".format(ch))
    else:
        print("{} is not a vowel".format(ch))

p is not a vowel
w is not a vowel
s is not a vowel
k is not a vowel
i is a vowel
l is not a vowel
l is not a vowel
s is not a vowel

### list

In [54]:
type([])

list

In [55]:
["krish","naik","pwskills",32]

['krish', 'naik', 'pwskills', 32]

In [56]:
list([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [57]:
str2

'pwskills'

In [58]:
list(str2)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [59]:
str1="Pw skills data science masters"

In [60]:
list(str1.split(" "))

['Pw', 'skills', 'data', 'science', 'masters']

In [61]:
list(str1.split(" "))

['Pw', 'skills', 'data', 'science', 'masters']

In [62]:
lst1=str1.split(" ")

In [63]:
lst1[1:]

['skills', 'data', 'science', 'masters']

In [64]:
lst1[::2]

['Pw', 'data', 'masters']

In [65]:
lst1

['Pw', 'skills', 'data', 'science', 'masters']

In [66]:
lst1[::-2]

['masters', 'data', 'Pw']

In [67]:
## concatenation operation
lst2=lst1+["new element",3]

In [68]:
lst2[-1][0]

TypeError: 'int' object is not subscriptable

In [ ]:
lst1*3

['Pw',
 'skills',
 'data',
 'science',
 'masters',
 'Pw',
 'skills',
 'data',
 'science',
 'masters',
 'Pw',
 'skills',
 'data',
 'science',
 'masters']

In [ ]:
lst1

['Pw', 'skills', 'data', 'science', 'masters']

In [ ]:
if "science" in lst1:
    print("present")

present

In [ ]:
for element in lst1:
    if element=="science":
        print(element)
        break

science

In [ ]:
## check elements inside a list 
lst=[1,2,3,4]
4 in lst

True

In [ ]:
2.0 in lst

True

In [ ]:
lst1=["zebra","monkey","donkey","lion"]
lst2=[5,6,2,9,5,8,6]

In [ ]:
print(max(lst1))

zebra

In [ ]:
# `max(lst1)` is finding the maximum value in the list `lst1`.
max(lst1)
max(lst2)

9

In [ ]:
min(lst1)

'donkey'

In [ ]:
min(lst2)

2

In [ ]:
1.999999999999999 in [2,3,4]

False

In [ ]:
4==4.0

True

In [ ]:
lst3=[5,6,2,9,5,8,6]
type(lst3[0]) ### output is integer 
type(5.0) #### output is float 
5.0 in lst3 ## out is true

True

### append

In [ ]:
lst=[1,2,3,4,5,6]

In [ ]:
lst

[1, 2, 3, 4, 5, 6]

In [ ]:
lst.append("pwskill")

In [ ]:
lst

[1, 2, 3, 4, 5, 6, 'pwskill']

In [ ]:
lst.append(["data","science","master"])
lst

[1, 2, 3, 4, 5, 6, 'pwskill', ['data', 'science', 'master']]

In [ ]:
lst1=["zebra","monkey","donkey","lion"]

In [ ]:
lst1.pop()

'lion'

In [ ]:
# `pop()` is a built-in method in JavaScript that removes the last element from an array and returns that element. It modifies the original array by removing the last element from it.

# pop()
pop()

In [ ]:
lst1

['zebra', 'monkey', 'donkey']

In [ ]:
lst1.pop()

'donkey'

In [ ]:
lst1

['zebra', 'monkey']

In [ ]:
lst1=["zebra","monkey","donkey","lion"]

In [ ]:
removed_element=lst1.pop()

In [ ]:
removed_element

'lion'

In [ ]:
lst1[4]

IndexError: list index out of range

In [ ]:
new_list=["q","e","f","s","t","u"]

In [ ]:
new_list

['q', 'e', 'f', 's', 't', 'u']

In [ ]:
## inplace
new_list.reverse()

In [ ]:
new_list

['u', 't', 's', 'f', 'e', 'q']

In [ ]:
new_list.sort(reverse=True)

In [ ]:
new_list

['u', 't', 's', 'q', 'f', 'e']

In [ ]:

new_list

['u', 't', 's', 'q', 'f', 'e']

In [ ]:
lst=[1,2,3,5,4,6]
lst.append(10)

In [ ]:
lst.extend(["pw","skills"])

In [ ]:
lst

[1, 2, 3, 5, 4, 6, 10, 'pw', 'skills']

### Nested list

In [ ]:
# Let's make three lists
lst1=[1,2,3]
lst2=[4,5,6]
lst3=[7,8,9]

# make a list of lists a to form a matrix
matrix=[lst1,lst2,lst3]

In [ ]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
matrix[1][2]

6

In [ ]:
matrix[2][1:]

[8, 9]

In [ ]:
## list comprehension

In [ ]:
[ i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
[  i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
### list comprehension 
##  Even number
[i if i%2==0 else "odd" for i in range(0,30)]

[0,
 'odd',
 2,
 'odd',
 4,
 'odd',
 6,
 'odd',
 8,
 'odd',
 10,
 'odd',
 12,
 'odd',
 14,
 'odd',
 16,
 'odd',
 18,
 'odd',
 20,
 'odd',
 22,
 'odd',
 24,
 'odd',
 26,
 'odd',
 28,
 'odd']

In [ ]:
## Assignment 
## sum of even number and odd number
lst=[1,2,3,4,5,6,7,8]

even_sum =0
odd_sum =0
for i in lst:
    if i%2==0:
        even_sum +=i
    else :
        odd_sum +=i

print(even_sum)
print(odd_sum)

20
16

In [ ]:
even_sum=sum([num for num in lst if num%2==0])
even_sum

20

In [ ]:
odd_sum=sum([num for num in lst if num%2!=0])
odd_sum

16

In [ ]:
lst1=[1,2,3,5,6,7,8,9,10]
[num**2 for num in lst1]

[1, 4, 9, 25, 36, 49, 64, 81, 100]

In [ ]:
# Example 2: Create a list of only the positive number from a given list
numbers =[-2,-1,0,1,2,3,4]
[num for num in numbers if num>0]

[1, 2, 3, 4]

In [ ]:
##  Example 3: Create a list of only the first letter of words in list 
words =["apple","banana","cherry","date"]
[word[0] for word in words]

['a', 'b', 'c', 'd']

In [ ]:
(9/5)*temp+32

In [ ]:
celsius_temperatures= [0,10,20,30,40,50]

In [ ]:
[(9/5)*temp + 32 for temp in celsius_temperatures]

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [ ]:
# Example 5: Flatten a list of lists into a single list
lists = [[1,2,3],[4,5,6],[7,8,9]]

In [ ]:
# This is a list comprehension that flattens a list of lists. It iterates over each element `i` in the list `lists`, and for each element `i`, it iterates over each element `j` in `i` and appends it to a new list. The result is a flattened list of all the elements in the original list of lists.
[j for i in lists for j in i]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [93]:
### Assignment
### using both code and list comprehension 
# example 2:

# create a lis of only the prime numbers from a given list

In [1]:
# EXample : create a lis of all the possble combination of 2 element from a list
numbers=[1,2,3,4,5]

In [14]:
for i in numbers:
    for j in numbers:
        print([i,j])

[1, 1]
[1, 2]
[1, 3]
[1, 4]
[1, 5]
[2, 1]
[2, 2]
[2, 3]
[2, 4]
[2, 5]
[3, 1]
[3, 2]
[3, 3]
[3, 4]
[3, 5]
[4, 1]
[4, 2]
[4, 3]
[4, 4]
[4, 5]
[5, 1]
[5, 2]
[5, 3]
[5, 4]
[5, 5]

In [15]:
numbers=[1,2,3,5,9,20]

for i in range(len(numbers)):
    for j in range(i+1,len(numbers)):
        print([numbers[i]],[numbers[j]])

[1] [2]
[1] [3]
[1] [5]
[1] [9]
[1] [20]
[2] [3]
[2] [5]
[2] [9]
[2] [20]
[3] [5]
[3] [9]
[3] [20]
[5] [9]
[5] [20]
[9] [20]

In [17]:
lst=[1,2,3,4,5,6,7,8,9,10]

In [27]:
lst.insert(1,2j)

In [28]:
lst

[1, 2j, 2j, 2j, 2j, 2j, 2j, 2j, 2j, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
c=1+2j

In [31]:
c.real
c.imag

2.0